.main-stack {
    margin: 30px 30px 30px 30px;
    justify-content: center;

    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.main-stack .technology {
    height: 320px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px rgb(255, 255, 255);
    
    transition: all;
    transition-duration: 0.5s;
    z-index: 1;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 60% 20% 10%;
    align-items: center;
    justify-items: center;
}

.main-stack .technology:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.144);
    z-index: 1;
}

.technology .logo {
    height: 200px;
    width: 200px;
    background-image: url("../style/mainstack/js.png");
    background-size: cover;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.technology .name {
    font-weight: 600;
    font-size: 25px;

    grid-column: 2 / 3;
    grid-row: 3 / 4;
}