@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Light.ttf") format("truetype");
   font-weight: 300;
   font-style: light;
}

@font-face {
   font-family: "Montserrat"
   src: url("../fonts/Montserrat-Light.ttf") format("truetype");
   font-weight: 600;
   font-style: semibold;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-family: "Montserrat", sans-serif;
   color: black;
   margin: 0px;
}

body {
   margin: 0px;
}

.main {
   height: 100vh;
   width: 100vw;
   background-color: white;
   display: grid;
   grid-template-columns: min-content 1fr min-content;
   grid-template-rows: 1fr min-content 20px min-content 20px min-content 20px min-content 40px min-content 1fr;
   justify-items: center;
   align-items: center;
   z-index: -1;
   overflow: hidden;
}

.main .avatar {
   height: 200px;
   width: 200px;
   border-radius: 3px;
   background-image: url("../style/avatar.jpeg");
   background-size: cover;
   box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.171);

   grid-column: 2 / 3;
   grid-row: 2 / 3;
   z-index: 1;
}

.main .name {
   text-align: center;
   font-size: 40px;
   font-weight: 600;
   user-select: none;

   grid-column: 2 / 3;
   grid-row: 4 / 5;
   z-index: 1;
   
   background-color: rgba(255, 255, 255, 0);
   letter-spacing: 0px;
   transition: all;
   transition-duration: 1s;
}

.main .name:hover {
   letter-spacing: 10px;
   color: white;
   background-color: black;
}

.main .description {
   text-align: center;
   letter-spacing: 10px;
   font-weight: 300;
   user-select: none;

   grid-column: 2 / 3;
   grid-row: 6 / 7;
   z-index: 1;

   background-color: rgba(255, 255, 255, 0);
   transition: all;
   transition-duration: 1s;
}

.main .description:hover {
   letter-spacing: 5px;
   color: white;
   background-color: black;
}

.main .stack {
   text-align: center;
   font-size: 30px;
   font-weight: 600;
   color: rgb(58, 180, 180);
   user-select: none;

   grid-column: 2 / 3;
   grid-row: 8 / 9;
   z-index: 1;

   background-color: rgba(255, 255, 255, 0);
   letter-spacing: 0px;
   transition: all;
   transition-duration: 1s;
}

.main .stack:hover {
   letter-spacing: 10px;
   color: white;
   background-color: black;
}

.main .social {
   height: min-content;
   width: min-content;
   user-select: none;

   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   align-content: center;

   grid-column: 2 / 3;
   grid-row: 10 / 11;
   z-index: 1;
}

.social img {
   padding: 0px 15px;
   opacity: 0.3;
   cursor: pointer;

   height: 35px;
   transition: all;
   transition-duration: 0.5s;
}

.social img:hover {
   opacity: 1;
}

.social .tip {
   font-family: "Montserrat";
   font-size: 15px;
   position: fixed;
   padding: 15px 30px;
   background-color: white;
   border-radius: 3px;
   font-weight: 600;
   z-index: 3;

   animation-name: appearence;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;
   animation-timing-function: cubic-bezier(.55,.08,.77,.9);

}

@keyframes appearence {
   0% {
      color: rgb(255, 255, 255);
      transform: translateY(3px);
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      opacity: 0;
   }

   50% { 
      color: rgb(80, 80, 80);
      transform: translateY(3px); 
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      opacity: 1;
   }

   100% { 
      color: rgb(80, 80, 80);
      transform: translateY(0px); 
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.178);
      opacity: 1;
   }
}

/* decoration */

.main::after {
   position: fixed;
   content: "";
   left: -100px;
   height: 500px;
   width: 500px;
   background-color: rgba(206, 126, 126, 0.151);
   z-index: 0;

   animation-name: flying;
   animation-duration: 30s;
   animation-timing-function: cubic-bezier(.41,.4,.64,.64);
   animation-iteration-count: infinite;
   animation-fill-mode: both;
}

.main::before {
   position: fixed;
   content: "";
   height: 500px;
   width: 500px;
   background-color: rgba(34, 225, 250, 0.158);
   z-index: 0;
   transform: rotateZ(105deg);
   top: 500px;

   animation-name: waving;
   animation-timing-function: cubic-bezier(.52,.01,.56,.98);
   animation-duration: 40s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
}

/* decoration */

@keyframes flying {
   0% {
      transform: rotateZ(30deg);
   }
   50% {
      transform: rotateZ(75deg);
   }
   100% {
      transform: rotateZ(120deg);
   }
}

@keyframes waving {
   0% {
      left: 1000px;
      top: 500px;
   }
   50% {
      left: 600px;
      top: 520px;
   }
   100% {
      left: 1000px;
      top: 500px;
   }
}