@import url("./0.intro.css");
@import url("./1.stack.css");


@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Light.ttf") format("truetype");
   font-weight: 300;
   font-style: light;
}

@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Light.ttf") format("truetype");
   font-weight: 600;
   font-style: semibold;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-family: "Montserrat", sans-serif;
   color: black;
   margin: 0px;
}

body {
   margin: 0px;
   overflow-x: hidden;
}